include src/digger/motifs/human/IGH/*.csv
include src/digger/motifs/human/IGK/*.csv
include src/digger/motifs/human/IGL/*.csv
include src/digger/motifs/human/TRA/*.csv
include src/digger/motifs/human/TRB/*.csv
include src/digger/motifs/human/TRD/*.csv
include src/digger/motifs/human/TRD/*.csv
include src/digger/motifs/rhesus_macaque/IGH/*.csv
include src/digger/motifs/rhesus_macaque/IGK/*.csv
include src/digger/motifs/rhesus_macaque/IGL/*.csv
include src/digger/motifs/human/IGH/*.fasta
include src/digger/motifs/human/IGK/*.fasta
include src/digger/motifs/human/IGL/*.fasta
include src/digger/motifs/human/TRA/*.fasta
include src/digger/motifs/human/TRB/*.fasta
include src/digger/motifs/human/TRD/*.fasta
include src/digger/motifs/human/TRG/*.fasta
include src/digger/motifs/rhesus_macaque/IGH/*.fasta
include src/digger/motifs/rhesus_macaque/IGK/*.fasta
include src/digger/motifs/rhesus_macaque/IGL/*.fasta
include src/digger/motifs/human/IGH/*.json
include src/digger/motifs/human/IGK/*.json
include src/digger/motifs/human/IGL/*.json
include src/digger/motifs/human/TRA/*.json
include src/digger/motifs/human/TRB/*.json
include src/digger/motifs/human/TRD/*.json
include src/digger/motifs/human/TRG/*.json
include src/digger/motifs/rhesus_macaque/IGH/*.json
include src/digger/motifs/rhesus_macaque/IGK/*.json
include src/digger/motifs/rhesus_macaque/IGL/*.json
